<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/constants.js"></script>

</head>
<body>
<h3 style="text-align: center;width: 100%;padding: 15px 0px;background-color: #8bd435;margin-top: -10px;color: white;">
    iubbo 测试工具
    <span style="position: relative;left: 500px;">
	<a href="./readme.html" style="text-decoration: none;color: white;">使用文档</a>
	<a href="./test-dubbo-web.html" style="text-decoration: none;color: white;position: relative;left: 50px;">首页</a>
	</span>
</h3>

    <div id="app">
        <div style="width: 400px;margin: 100px auto;">
            <el-form  label-width="80px" :model="userInfo">
                <el-form-item >
                    <el-input   prefix-icon="el-icon-user"  v-model="userInfo.username" placeholder="用户名"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input  prefix-icon="el-icon-lock"  v-model="userInfo.password" placeholder="密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="success" style="width: 100%;" @click="userLogin"  round>登录</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/util.js"></script>
<script src="../js/user-login.js"></script>
</html>
